.notification {
    position: fixed;
    z-index: 1000;
    width: 80%;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    background-color: #ffdbc1;
    color: black;
    transition: 0.3s ease;
}

.btn-close:active {
    box-shadow: none;
}

.appear {
    animation: appear;
    animation-timing-function: ease;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.hide {
    animation: hide;
    animation-timing-function: ease;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

/* TABLET  */
@media (min-width: 576px) and (max-width: 991.98px) {
    .notification {
        position: flex  ;
        z-index: 1000;
        width: 90%;
        left: 50%;
        transform: translate(-50%);
    }
}

/* SMARTPHONE  */
@media (max-width: 575.98px) {
    .notification {
        position: flex  ;
        z-index: 1000;
        width: 95%;
        left: 50%;
        transform: translate(-50%);
    }
}

@keyframes appear {
    0% {
        position: fixed;
        display: flex;
        z-index: 1000;
        top: -20px;
        left: 50%;
        transform: translate(-50%);
        background-color: #ffdbc1;
        color: black;
        transition: 0.3s ease;
    }
    100% {
        position: fixed;
        display: flex;
        z-index: 1000;
        top: 0px;
        left: 50%;
        transform: translate(-50%);
        background-color: #ffdbc1;
        color: black;
        transition: 0.3s ease;

    }
}

@keyframes hide {
    0% {
        display: flex;
        opacity: 100%;
        top: 0px;
    }
    100% {
        display: flex;
        opacity: 0%;
        top: -20px;
    }
}